<div class="container">
    <br />
  <h1 class="page-header">Your Reminders</h1>
    <form action="/reminder/new" method="GET">
        <button type="submit" class="btn btn-success">Add New</button>
    </form>
    <br />
    <ul class="list-group">
      <% reminders.forEach(function (reminderItem) { %>
            <div class="card">
                    <div class="card-header">
                        <strong>
                            <%= reminderItem.dueDate %>
                        </strong>
                        <% if (reminderItem.completed == true) { %>
                            <span class="badge badge-success">Done</span>
                        <% } else if (reminderItem.completed == false) { %>
                            <span class="badge badge-info">To Do</span>
                        <% } %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= reminderItem.title %>
                        </h5>
                        <p class="card-text"><%= reminderItem.description %></p>
                        <br />
                        <a href=<%= "/reminder/" + reminderItem.id %> class="btn btn-primary" >Update</a>
                    </div>
            </div>
        <br />
      <% }) %>
    </ul>
    <hr class="rounded">
    <br />
    <h1 class="page-header">Your Friend's Reminders</h1>
    <ul class="list-group">
        <% if (friendReminders) { %>
            <% friendReminders.forEach(function (reminderItem) { %>
                <div class="card">
                    <div class="card-header">
                        <strong>
                            <%= reminderItem.dueDate %>
                        </strong>
                        <strong class="badge badge-secondary"><%= reminderItem.creator.email %> </strong>
                        <% if (reminderItem.completed == true) { %>
                            <span class="badge badge-success">Done</span>
                        <% } else if (reminderItem.completed == false) { %>
                            <span class="badge badge-info">To Do</span>
                        <% } %>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= reminderItem.title %>
                        </h5>
                        <p class="card-text"><%= reminderItem.description %></p>
                    </div>
                </div>
            <br/>
            <% }) %>
        <% } %>
    </ul>
    <br />
    <br />


</div>
