<div class="container">
  <h3 class="page-header">Reminder Details</h3>

<!--    <ul class="list-group">-->
<!--      <li class="list-group-item">-->
<!--        <h3><strong><%= reminderItem.title %>: </strong></h3>-->
<!--        <h4><%= reminderItem.description %></h4>-->
<!--        <% if (reminderItem.tags.length > 0) { %>-->
<!--        <h4>Tags</h4>-->
<!--          <ul>-->
<!--            <% for (var i =0; i <reminderItem.tags.length;  i++ ) { %>-->
<!--              <li>  <%= reminderItem.tags[i] %> </li>-->
<!--            <% } %>-->
<!--          </ul>-->
<!--        <% } %>-->
<!--        <% if (reminderItem.subTasks.length > 0) { %>-->
<!--          <h4>SubTasks</h4>-->
<!--          <ul>-->
<!--            <% for (var i =0; i <reminderItem.subTasks.length;  i++ ) { %>-->
<!--              <li>  <%= reminderItem.subTasks[i] %> </li>-->
<!--            <% } %>-->
<!--          </ul>-->
<!--        <% } %>-->
<!--        <h4>Completed:-->
<!--          <% if (reminderItem.completed == true) { %>-->
<!--            <span class="label label-success">True</span>-->
<!--          <% } else if (reminderItem.completed == false) { %>-->
<!--            <span class="label label-danger">False</span>-->
<!--          <% } %>-->
<!--        </h4>-->

<!--        <a class="btn btn-warning" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>-->

<!--        <form class="deleteForm" method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>-->
<!--          <button type="submit" class="btn btn-danger">Delete</button>-->
<!--        </form>-->

<!--      </li>-->
<!--    </ul>-->

  <div class="card">
    <div class="card-header">
      <strong>
        <% if (reminderItem.dueDate) { %>
          <h5>Due: <span class="label"><%= reminderItem.dueDate %></span></h5>
        <% } %>
      </strong>
      <% if (reminderItem.completed == true) { %>
        <span class="badge badge-success">Done</span>
      <% } else if (reminderItem.completed == false) { %>
        <span class="badge badge-info">To Do</span>
      <% } %>
    </div>
    <div class="card-body">
      <h2 class="card-title">
        <%= reminderItem.title %>
      </h2>
      <p class="card-text"><%= reminderItem.description %></p>

      <% if (reminderItem.tags.length > 0) { %>
        <h6>Tags</h6>
        <ul>
          <% for (var i =0; i <reminderItem.tags.length;  i++ ) { %>
            <li>  <%= reminderItem.tags[i] %> </li>
          <% } %>
        </ul>
      <% } %>
      <% if (reminderItem.subTasks.length > 0) { %>
        <h6>SubTasks</h6>
        <ul>
          <% for (var i =0; i <reminderItem.subTasks.length;  i++ ) { %>
            <li>  <%= reminderItem.subTasks[i] %> </li>
          <% } %>
        </ul>
      <% } %>

      <br />


      <a class="btn btn-primary" href=<%= "/reminder/" + reminderItem.id + "/edit" %>>Edit</a>

      <form class="deleteForm" method="POST" action=<%= "/reminder/delete/" + reminderItem.id %>>
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>

</div>
